<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startpage</title>
    <link rel="stylesheet" href="/public/styles/style.css">
</head>
<body>
    <div class="terminal">
        <div class="line">
            <span class="user">renan</span><span class="separation">@</span><span class="pc">renan-pc</span>:<span class="path">~</span><span class="root">$</span><span><span class="firstkey wrong">sudp</span> su</span>
        </div>
        <div class="output">
            bash: sudp: command not found...
        </div>
        <div class="line">
            <span class="user">renan</span><span class="separation">@</span><span class="pc">renan-pc</span>:<span class="path">~</span><span class="root">$</span><span><span class="firstkey correct">sudo</span> su</span>
        </div>
        <div class="output">
            [sudo] password for renan:  
        </div>
        <div class="line">
            <span class="user root">root</span><span class="separation root">@</span><span class="pc root">renan-pc</span>:<span class="path root">/home/renan</span><span class="root t"># </span><span><span class="firstkey root">./statusfetch.sh
        </div>
        <div class="output">
            <div>{</div>
                "time":<div class="hours">hours</div>:<div class="minutes">minutes</div>,<div></div>
                "date":"<div class="day">day</div>/<div class="month">month</div>/<div class="year"></div>"
            <div>}</div>
        </div>
        <div class="line">
            <span class="user root">root</span><span class="separation root">@</span><span class="pc root">renan-pc</span>:<span class="path root">/home/renan</span><span class="root t"># </span><span><span class="firstkey root">exit
        </div>
        <div class="line">
            <span class="user">renan</span><span class="separation">@</span><span class="pc">renan-pc</span>:<span class="path">~</span><span class="root">$</span><span><span class="firstkey correct">cat</span> ./links.sh</span>
        </div>
        <div class="output">
            <a class="yt" href="https://youtube.com">/usr/bin/youtube.py</a>
            <a class="insta" href="https://instagram.com">/usr/bin/instagram.py</a>
            <a class="face" href="https://facebook.com">/usr/bin/facebook.py</a> 
            <a class="classr" href="https://classroom.google.com/u/1/h">/usr/bin/classroom.py</a>
            <a class="reddit" href="https://reddit.com">/usr/bin/reddit.py</a>
        </div>
        <div class="line">
            <span class="user">renan</span><span class="separation">@</span><span class="pc">renan-pc</span>:<span class="path">~</span><span class="root">$ </span><span class="firstkey correct">clear</span> <span><div class="cursor"></div></span>
        </div>
    </div>
    <script src="/public/scripts/script.js"></script>
</body>
</html>